body {
  background-color: rgb(209, 241, 163);
  margin: 0;
  min-height: 100vh;
  padding-bottom: 30px;
}
.search-form {
  padding-top: 20px;
  display: flex;
  gap: 8px;
  justify-content: center;
}

.search-input {
  height: 30px;
  outline: none;
  border-radius: 4px;
  border: 1px solid #243311;
  padding-left: 4px;
}
.search-input:hover,
.search-input:active {
  border: 1px solid #49b119;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #243311;
  color: #243311;
  background-color: #5dc52d;
}
.btn:hover {
  background-color: #49b119;
}

.load-button {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 16px;
  display: none;
}
